.home-container{
    background-image: url('https://img.freepik.com/free-photo/tropical-outdoor-travel-natural-sun_1203-5548.jpg?w=900&t=st=1696176695~exp=1696177295~hmac=612e1bf7c787fbcd92c2a28ee9322cd5dd0afe5d21aba1b74020ad3304aaec23');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-heading{
    color: #3236a8;
    margin-left: 30px;
}
.home-paragraph{
    color: #0c0b0b;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.trip-button{
    color: #ffffff;
    background-color: #32a840;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
}